body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}

h1 {
  color: blue
}

h2 {
  color: #98eb34
}

p {
  color: #000000
}

h4 {
  color: #004196;
    font-size: 10px
 
}

h3 {
  color
}

#TwitterBild {
  border-radius: 100px
}
